scripts/RAG_HEALTH.json
{
  "name": "RAG-HEALTH",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "query",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "3d1489b3-9db1-4d08-85dc-7537658b4048",
      "name": "Webhook",
      "webhookId": "364a9afd-a536-4b82-b1d8-fd46ffc6f260"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/retrieve",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.body.query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "bbcaa13d-0d68-49c7-bf93-4fbb7a4aec40",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        700,
        0
      ],
      "id": "cf65582f-33f0-4d37-9f20-795330f69ab0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8001/ask",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $json.question }}"
            },
            {
              "name": "context",
              "value": "={{ $json.context }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        0
      ],
      "id": "14d931ce-e88b-445c-b63a-4d7de4df0f6d",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b37ac9ba-ebf5-4e86-b65a-075680691a45",
  "meta": {
    "instanceId": "4af42ea368ebb2a8777585fd3750d6884c467d5b781873cb9f266a1b686135fd"
  },
  "id": "iQaixctLuPxBjLb7",
  "tags": []
}